/* pc.css */
body {
    background-color: var(--bg-color1);
    color: var(--text-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* outline: 2px solid red; */
    padding-left: 20px;
    padding-left: 20px;
    
}

header {
    /* background: #ccc; */
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--bg-color2);
    border-bottom: 15px solid var(--bg-color1);
}

header a {
    color: var(--text-color);
    font-size: 22px;
    line-height: 22px;
}

header .icons li {
    display: inline-block;
    margin-left: 1em;
}

/* .hero { 
    background-image: url('../images/profile.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    max-width: 1200px;
    margin: 0 auto;
} */

#title {
    /* background-color: pink; */
    height: calc(100vh - 100px);

    background-image: url('../images/profile.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
}

#title h2 {
    font-size: 70px;
    /* outline: 2px solid var(--main-color); */
    /* font-size: 4.3vw; */
}

#title p {
    color: var(--text-color2);
}

#title {
    display: flex;
    align-items: center;

}

#title h2 {
    margin-bottom: 40px;
}

#title p { margin-bottom: 60px; }

#skills {
    margin-top: 100px;
    padding: 80px 20px;
    border-top: 1px solid rgb(255, 255, 255, 0.3);
}

#skills h3 {
    font-size: 34px;
}

#skills .skill-list {
    display: flex;
    flex-wrap: wrap;
}

#skills .skill-list li {
    /* outline: 1px solid red; */
    width: calc(100% / 3);
    padding-bottom: 70px;
    padding-right: 50px;
}

#skills .skill-list li p {
    color: var(--text-color2);
    margin-top: 1em;
}

#skills h2 { display: none; }


#projects .title-group { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 74px;
}

#projects h2 {
    font-size: 62px;
}

#projects .container {
    /* border: 1px solid red; */
    padding-right: 20px;
}

#projects .item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

#projects .item-list li {
    /* border: 2px solid green; */
    width: calc(50% - 10px);
    margin-bottom: 70px;

}

#projects .item-list li img {
    width: 100%;
    /* 이미지 비율 지정: 가로/세로 */
    aspect-ratio: 4/3;
}

#projects .item-list li h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: var(--text-color);

}

#projects .item-list li .skills {
    font-size: 14px;
    color: var(--text-color2);
    text-transform: uppercase;
    
}

#projects .item-list li .skills span {
    margin-right: 1em;
}


footer {
    /* background: #ccc; */
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: var(--bg-color2); */
    border-bottom: 15px solid var(--bg-color1);
}

footer a {
    color: var(--text-color);
    font-size: 22px;
    line-height: 22px;
}

footer .icons li {
    display: inline-block;
    margin-left: 1em;
}
